@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300;700&display=swap');

/* GERAL */

*{
    box-sizing: border-box;
    margin: 0;
}
html{
    scroll-behavior: smooth;
    max-width: 100%;
}
body{
  margin: 0;
  line-height: 25px;
}

.margin{
    margin-left: 40px;
    margin-right: 40px;
}

.titulo-content{
    color: #40aa0b;
    font-family: 'Lato', 'sans-serif';
    font-size: 45px;
    margin-bottom: 20px;
    line-height:40px;
}

.text-content{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    letter-spacing: 0.8px;
    color: #333232;
}

.text-content li {
    margin-top: 9px;
}

.linha {
    height: 1px;
    background-color: #333232;
    opacity: 0.3;
    width: 75%;
    margin: auto;
}

/* HEADER */

.header{
    background-color: black;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.btn-header{
    color: white;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none;
    opacity: 0.6;
}

.btn-header-responsive{
    color: white;
    font-family: 'Lato', sans-serif;
    cursor: pointer;
    margin-left: 20px;
    text-decoration: none;
    opacity: 0.6;
}

.btn-header:hover{
    color: #40aa0b;
    transition: 0.3s;
}

.logo-header{
    height: 31px;
}

.responsive-header{
    display: none;
    flex-direction:row;
    justify-content: space-between;
}



/* CAPA */

.capa{margin-bottom: 100px;}

.titulo{
    position: relative;
    background: #000000;
    overflow: hidden;
    height: 400px;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    color: white;
    padding: 50px;
    z-index: 2;
}
.titulo:before {
    content: ' ';
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    opacity: 0.3;
    background-image: url("assets/laboratorio-apple.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}

#titulo{
    z-index: 3;
    font-size: 80px;
    margin-bottom: 20px;
}
.subtitulo{
    z-index: 3;
    font-size: 40px;
    margin-top: 30px;
}

/* INÍCIO */

.container{
    width: 75%;
    text-align: justify;
    margin: auto;
    margin-top: 40px;
   color: #333232;
}

.img-content{
    height:400px;
    width: 400px;
    margin-right: 40px;
}
.img-horizontal{
    height:400px;
    width: 600px;
    margin-left: 50px;
}

.content{
    display: flex;
    flex-direction: column;
}

.objetivo{
    display: flex;
    align-items: center;
    justify-content: center;
}

.responsabilidades{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 50px;
}
.supervisor{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
}

.container p{
    margin-bottom: 0;
    margin-top: 15px;
    
}

/* ROTINA */

.green-block{
    margin-top: 50px;
    background-color: #40aa0b;
    color: white;
    text-decoration: underline;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 110px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
  padding-left: 30px;
  padding-right: 30px;
}

.rotina-container{
    display: flex;
    width: 90%;
    margin: auto;
    justify-content: space-evenly;
    margin-bottom: 60px;
    
}

.rotina-coluna{
    width: 35%;
    margin-left: 40px;
    margin-right: 40px;
    text-align: justify;
   
}

.rotina-titulo{
    color: #40aa0b;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 35px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 40px;
    line-height: 35px;
}



#img-diariamente{
    width: 50%;
    height: 50%;
}

.img-rotina{
max-width: 100%;
height: auto;
}

/* REGRAS */

#regras{
    margin-bottom: 60px;
}

#titulo-regras{
    margin-bottom: 40px;
    align-items: center;
    display: flex;
    justify-content: center;
}

/* DURANTE AS AULAS */

.box{
    display: flex;
    justify-content: center;
    margin-top: 120px;
    margin: auto;
    text-align: justify;
    width: 72%;
   
}

.monitoria .box{
    flex-direction: column;
    width: 70%;
    margin: auto;
    text-align: justify;
}

.monitoria .box img{
width: auto;
margin: auto;
height: auto;
}

.titulo-monitoria{
    text-align: center;
}

.img-aulas{
    flex-direction: row;
    margin: auto;
    margin-top: 60px;
}

.box img{
    margin-right: 40px;
    margin-left: 40px;
}
.box p{
    margin-top: 40px;
    margin-left: 20px;
}
.box a{
    color: #333232;
    font-weight: bold;
}

#diariamente{
    margin-top: 70px;
    margin-bottom: 60px;
}
#diariamente-titulo{
      color: #40aa0b;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    font-size: 30px;
    text-align: center;
    margin-bottom: 40px;
line-height: 35px;}

#img-gamer{
    height: 300px;
    width: auto;
}

.green-block2{
    margin-top: 50px;
    background-color: #40aa0b;
    color: white;
    text-decoration: underline;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    height: 130px;
    font-family: 'Lato', sans-serif;
    font-weight: bold;
    margin-bottom: 50px;
    line-height: 30px;
    padding-left: 50px;
    padding-right: 50px;
}

#monitoria-remota{margin-bottom: 60px;
margin-top: 70px;}

#monitoria-presencial{
    margin-top: 80px;
}

#monitoriar-text{
    margin-right: 40px;
}




/* GLPI */

#img-glpi-responsive{
    display: none;
}
#img-glpi{
    width: auto;
    margin-right: 60px;
    height: 200px;
}
#img-alunos{
    width: auto;
    margin-left: 60px;
    margin-bottom: 80px;
    height: 400px ;
}

.col-glpi{
    display: flex;
    width: 70%;
    margin: auto;
    text-align: justify;
    margin-top: 60px;
}

#acesso-sistema{margin-top: 130px;
margin-bottom: 60px;}

.glpi-container{
    display: flex;
margin: auto;
justify-content: center;
margin-bottom: 60px;
text-align: justify;
margin-top: 80px;
}
.img-col-glpi{
    width: 100%;
    max-height: 470px;
}

.glpi-coluna{
    width: 700px;
    line-height: 30px;
    margin-left: 70px;
    margin-right: 70px;
}

.iframe-registro{
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 50px;
    
}

/* FOOTER */

.footer{
    background-color: #377e13;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: baseline;
    padding-top: 45px;
    background-image: url('assets/icon-logo.png');
    background-repeat: no-repeat;
    background-size: 11%;
    background-position-y: bottom;
    background-position: -10px 35px;
}

.footer-part{
    flex-direction: column;
    display: flex;
    width: 250px;
}

.footer-titulo{
    font-weight: bold;
    font-size: 18px;
    margin-bottom: 20px;
    color: white;
}

.footer a{
    text-decoration: none;
    letter-spacing: 0.5px;
    font-family: Arial, Helvetica, sans-serif;
    cursor: pointer;
}

.footer a:hover{
    color: #102903;
    transition: 0.3s;
    text-decoration: underline;
}

.footer-item{
    font-size: 13px;
    margin-bottom: 10px;
    color: rgba(236, 232, 232, 0.945);
}

/* MENU */

.menu-icon{
    width: 30px;
    height: 30px;
    border: none;
    display: none;
    background-image: url('assets/menu.png');
    background-size: cover;
    background-position: center;
    background-color: #000000;
    margin-bottom: 10px;
    margin-right: 20px;
}

.menu-icon:hover{
    cursor: pointer;
}

.menu-container{
    height: 350px;
    margin-top: 320px;
    align-items: flex-end;
    z-index: 11111;
    display: none;
    flex-direction: column;
    
}

.menu-list{
    text-align: center;
    background-color: #377e13;
    list-style: none;
    padding: 0;
    max-height: 0;
    overflow: hidden;
    visibility: hidden;
    border-radius:3px;
    opacity:0;
    
}

.menu-list li{
    padding: 9px;
    width: 180px;
}

.menu-list a{
    color: white;
    text-transform: uppercase;
    font-family: 'Times New Roman', Times, serif;
    font-size: 13px;
    text-decoration: none;
   
}

.menu-list li:hover{
    background-color: #102903;
    transition: .25s;
    cursor: pointer;
}

.menu-list.open {
    max-height: 350px;
    visibility: visible;
    opacity:1;
  }

/* RESPONSIVIDADE CELULAR */ 

@media screen and (max-width:767px) {

    /* GERAL */ 

    body{
        justify-content: center;
        margin: auto;
    }
    
    .menu-icon{
        display: block;
    }

    .menu-container{
        display: flex;
    }

    .img-responsive{
        display: none;  
    }
    .titulo-content{
        font-size: 32px;
        text-align: center;
        align-items: center;
    }
   
    .text-content{
        font-size: 15px;
    }
    .margin-responsive{
        margin-top: 50px;
    }

    /* HEADER E CAPA */ 
    .header{
        background-color: black;
        height: 60px;
        display: flex;
        justify-content: space-between;
    
    }
    
    .logo-header{
        margin-right: -20px;
        margin-left: 20px;
        
    }

   /*  .responsive-header{
        display: flex;
        align-items: center;
        justify-content: center;
    } */

    .btn-header{
        display: none;
    }

   /*  .btn-header-responsive{
        display: flex;
        text-align: center;
        padding-bottom: 10px ;
    }  */
    
    #titulo{
        font-size: 35px;
        margin-bottom: 10px;
        line-height: 55px;
        text-align: center;
    }
    .subtitulo{
        font-size: 20px;
        text-align: center;
    }
  
    /* INÍCIO */

    .supervisor{
        flex-direction: column;
    }
    #img-otaviano{
        width: 350px;
        height: auto;
        margin-bottom: 40px;
        margin-top: -10px;
    }

    /* ROTINA */ 

    .green-block{
        font-size: 15px;
        padding: 15px;
    }
    .rotina-container{
        flex-direction: column;
        justify-items: center;
    }

    .rotina-coluna{
        width: 90%;
        margin: auto;
    }

    .img-rotina{
        width: 100%;
        height: 100%;
    }

    .img-lab{
        width: 95%;
    }

  

    /* AULAS */

    .green-block2{
        font-size: 15px;
       padding: 15px;
        height: 110px;
    }
  
    .box{
    flex-direction: column;
    }
    .titulo-monitoria{
        line-height: 35px;
        text-align: center;
    }

    /* GLPI */ 

    .glpi{
        flex-direction: column;
    }
    .col-glpi{
        flex-direction: column;
    }
 
    #acesso-sistema{
        margin-top: 50px;
        margin-bottom: 50px;
    }   
    .glpi-container{
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .glpi-coluna{
        max-width:80%;
    }
    #img-glpi-responsive{
        display: flex;
        max-width: 100%;
        margin-top: 40px;
        
    }
    .img-col-margin{
        margin-top: 35px; ;
    }

/* FOOTER */
    .footer{
        margin-top: 50px;
        background-image: none;
        padding-top: 25px;
        padding-left: 5px ;
        padding-right: 5px;
        margin-left: auto;
        max-width: 100%;
        height: 150px;
  
    }
    .footer-part{
        width: 150px;
        padding-right: 5px;
    }
    .footer-titulo{
        display: none;
    }
    .footer-item{
        display: none;
    }   
}

/* RESPONSIVIDADE TABLET */

@media screen and (min-width:768px) and (max-width:1300px){
    /* GERAL */
    body{
        justify-content: center;
        margin: auto;
    }
    .img-responsive{
        display: none;
    }
    .titulo-content{
        font-size: 40px;
        text-align: center;
        align-items: center;
        line-height: 35px;
    }
    .text-content{
        font-size: 18px;
    }

    /* HEADER E CAPA */ 

    #titulo{
        font-size: 60px;
        margin-bottom: 10px;
        line-height: 55px;
        text-align: center;
    }
    .subtitulo{
        font-size: 30px;
    }
  
    /* INÍCIO */

    .supervisor{
        flex-direction: column;
    }
    #img-otaviano{
        width: 370px;
        margin-bottom: 40px;
        margin-top: -10px;
    }
    
    /* ROTINA */

    .green-block{
        font-size: 20px;
        padding: 20px;
        line-height: 30px;
    }
   
    .img-rotina{
        display: none;
    }

    .rotina-container{
        width: 95%;
    }
    .rotina-coluna{
        width: 100%;
    }

    /* AULAS */

    .img-lab{
        display: none;
    }
    .green-block2{
        font-size: 20px;
        padding: 20px;
    }


    /* GLPI */

    #acesso-sistema{
        margin-top: 50px;
        margin-bottom: 80px;
    }
    .glpi-container{
        flex-direction: column;
    }
    .glpi-coluna{
        max-width:80%;
        margin: auto;
    }

    .img-col-margin{
        margin-top: 35px; ;
    }

    /* FOOTER */
    .footer{
        margin-top: 50px;
        background-image: none;
        padding-top: 35px;
        padding-left: 10px;
        padding-right: 10px ;
        margin-left: auto;
        max-width: 100%;
      
    }
    .footer-part{width: 200px;
    }
    .footer-titulo{
        font-size: 19px;
    }
    .footer-item{
        font-size: 13px;
    }
}

@media screen and (max-width:1000px){

    .btn-header{
        display: none;
    }

    .menu-container{
        display: flex;
    }
.menu-icon{
    display: block;
}
}